<table>
  <thead>
    <tr>
      <th>Total de mortes</th>
      <td><%= @total_deaths %></td>
      <th>Total de Confirmados </th>
      <td><%= @total_cases %></td>
    </tr>
  </thead>

  </tbody>
  <thead>
    <tr>
      <th>Uf</th>
      <th>Estado</th>
      <th>Nº de casos</th>
      <th>Nº de mortes</th>
    </tr>
  </thead>

  <tbody>
    <% @statistics_all.each do |statistic| %>
      <tr>
        <td><%= statistic.uf %></td>
        <td><%= statistic.state %></td>
        <td><%= statistic.casess %></td>
        <td><%= statistic.deaths %></td>
      </tr>
    <% end %>
  </tbody>
</table>