<p id="notice"><%= notice %></p>

<p>
  <strong>Uf:</strong>
  <%= @statistic.uf %>
</p>

<p>
  <strong>State:</strong>
  <%= @statistic.state %>
</p>

<p>
  <strong>Casess:</strong>
  <%= @statistic.casess %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @statistic.deaths %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @statistic.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @statistic.updated_at %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
